/* Getting the new tags to behave
---------------------------------------- */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }


/* Global properties
---------------------------------------- */
body { 
	background:#eee; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; 
	line-height:1.4em;
	color:#6f787a;
	}
html { min-width:980px;}
html, body { height:100%;}

#main {
	min-height:100%;
	margin: 0 auto;
	position: relative;
	width: 980px;
	font-size:13px;
	background:#fff;
	border-right:1px solid #dbdbdb;
	border-left:1px solid #dbdbdb;
	}
	#main .inside {
		padding:0 30px;
		}
	
.menu {
	padding:0px 0 10px 0px
}
.button {
	position:absolute;
	right:30px;
	top:0;
	background:#eee;
	padding:10px;
	display:block;
	border-radius: 0 0 15px 15px;
	color:#000;
	font-size:14px;	
	text-decoration:none;
}
	.button:hover {
		background:#cecece;
	}
.red {
	color:red;
}
.pad {
	margin-top:20px;
}
.pad1 {
	margin-top:90px;
}
a {
	color:#017c9a; 
	outline:none;
	}
a:hover{
	text-decoration:none;
	}
strong {
	color:#393939;
	}
em {
	
	}

ul {
	list-style-type:square;
	list-style-position:outside;
	margin:0 0 1.5em 1.5em;
	}
ul li {
	padding-bottom:.5em;
	}

ol {
	list-style-type:decimal;
	margin:.5em 0 1.5em 1.5em;
	}
	ol li {
		padding-bottom:.5em;
		}
		ol li ul {
			padding:.5em 0 0 0;
			margin-bottom:0;
			}
			ol li ul li:last-child {
				padding-bottom:0;
				}
.fonts {
	font-size:22px;
	font-family:"Times New Roman", Times, serif;
	color:#393939;
}
	.fonts ol, .fonts code {
		font-size:13px; 
		font-family:Arial, Helvetica, sans-serif;
	}
	.fonts ol {
		color:#6f787a;
	}

.small {
	display:block;
	font-size:24px
}
/* Left & Right alignment */

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { 
	width:100%;
	overflow:hidden;
	}

.extra-wrap { 
	overflow:hidden;
	}

/* Header
---------------------------------------- */
#header {
	text-align:center;
	border-bottom:1px solid #dbdbdb;
	}
	#header h1 {
		padding:1em 0 .5em 0;
		}
/* Content
---------------------------------------- */
#content {
	padding:40px 0 40px 0;
	}
	
	.word {
		display:inline-block;
		padding:5px 0;
	}
	.example {
		font-size:12px;
		color:#ccc;
		font-style:italic;
		display:inline-block;
		padding:5px 0;
	}

article {
	padding-bottom:50px;
	}
	article .inner {
		padding:0 0 0 14px;
		}
		
pre, code, samp, kbd, var{font:100% mono-space,monospace;}
pre{
	margin:0;
	padding:10px;
	overflow:auto;
	background:#fff;
	border:1px dashed #000
	}
.code {
	background:#eee;
	padding:10px;
}



/* Paragraph */
p {margin-bottom:1.5em;}
	
/* Footer
---------------------------------------- */
#footer {
	text-align:center;
	font-size:10px;
	text-transform:uppercase;
	color:#666;
	background:#eee;
	}
	#footer .inside {
		padding:20px 0 20px 0;
		}

/*==========================================*/

#search {
	text-align:left;
}
	#search input[type=text] {
		border:1px solid #ccc;
		border-radius:15px;
		background:#fff;
		height:14px;
		padding:8px;
		line-height:14px;
		font-size:13px;
		outline:none;
		width:300px;
	}
		#search a {
			display:inline-block;
			width:80px;
			background:#eee;
			text-align:center;
			color:#000;
			padding:7px;
			border-radius:15px;
			font-size:13px;
			line-height:18px;
			cursor:pointer;
			transition: all ease 0.5;
			-webkit-transition: all ease 0.5s;
			-o-transition: all ease 0.5;
			-moz-transition: all ease 0.5;
			-ms-transition: all ease 0.5;
		}
			#search a:hover {
				transition: all ease 0.5;
				-webkit-transition: all ease 0.5s;
				-o-transition: all ease 0.5;
				-moz-transition: all ease 0.5;
				-ms-transition: all ease 0.5;
				background:#000;
				color:#fff;
			}
.attention {background: url("../images/attention.png") no-repeat scroll 12px 50% #FDF7DF; border:1px solid #E3C555; padding:12px 24px 12px 60px; font-weight:bold;}