
html, body {
	min-width:300px;
	height:auto;
}

body {
	background:#fff;
	overflow:hidden;
}
#search-results{
	padding:20px 10px 0px 5px;
	overflow:hidden;
}

#search-results iframe html{
	border:none;
}
#search-results iframe {
	min-width:300px;
}


ol.search_list {
	margin-left: 15px;
	list-style-type:none;
	counter-reset: ol;
}
ol.search_list li:before {
content: counter(ol) ".";
counter-increment: ol;
float:left;
display:block;
width:20px;
text-align:right;	
padding-right:10px;
margin:10px 0px 0 -30px;

}

ol.search_list li {
	padding-bottom:20px;
	margin-left:15px;
}
span.match {
	color:#0C6;
	font-size:11px;
	display:block;
	
}
.search_title {
	line-height:1.2307em;
	font-size:16px;
	display:block;
	padding:10px 0px
}

span.search {
	color:#0C6;
	font-weight:bold;
	display:inline-block;
}
.search_link{
	text-decoration: underline;
}
.search_link:hover{
	text-decoration: none;
}
